Source: libtask-belike-shantanu-perl
Section: perl
Priority: optional
Maintainer: Shantanu Bhadoria <shantanu@cpan.org>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/Task-BeLike-Shantanu/

Package: libtask-belike-shantanu-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Desciprion: All my default Modules in a perl installation